<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example home icon" routerLinkActive="mat-warn">home</mat-icon>


  <span>
   <a routerLink="/" routerLinkActive="mat-warn">Home</a>
  </span>

  <span class="spacer"></span>

  <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
      <span><a mat-button routerLink="/" routerLinkActive="mat-warn">blank</a></span>

     <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
      <span><a mat-button routerLink="/" routerLinkActive="mat-warn">blank</a></span>

       <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
        <span><a mat-button routerLink="/" routerLinkActive="mat-warn">blank</a></span>

</mat-toolbar>
