<mat-sidenav-container >
<mat-toolbar >
  <mat-icon aria-hidden="false" aria-label="Example home icon" routerLinkActive="mat-warn">home</mat-icon>


  <span>
   <a routerLink="/" routerLinkActive="mat-warn">Home</a>
  </span>

  <span class="spacer"></span>

  <mat-icon aria-hidden="false" aria-label="Example home icon">book</mat-icon>
      <span><a mat-button routerLink="/details" routerLinkActive="mat-warn">Interview pre-requisite</a></span>

     <mat-icon aria-hidden="false" aria-label="Example home icon">start</mat-icon>
      <span><a mat-button routerLink="/" routerLinkActive="mat-warn">Start Interview </a></span>

       <mat-icon aria-hidden="false" aria-label="Example home icon">notes</mat-icon>
        <span><a mat-button routerLink="/result" routerLinkActive="mat-warn">View Results</a></span>

</mat-toolbar>
</mat-sidenav-container>